<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    <center><h1>Toy Store Online</h1></center>
    <center><h2>Welcome {{name}}</h2></center>
   <center><table border="1" width="40%">
       <tr>
           <td>Name</td>
           <td>Picture</td>
       </tr>
       {{#each ds}}
       <tr>
           <td>{{name}}</td>
           <td><img src="{{picURL}}" width="150" height="100"/> </td>         
       </tr>
       {{/each}}
   </table></center>
    <a href="/help">Go to help</a>
    <br>
    <a href="/new">New Product</a>
    <hr>
    {{ht}}
</body>
</html>